*.user
.user
build-test4-Desktop_Qt_5_4_1_MinGW_32bit-Debug/*
build-test4-Desktop_Qt_5_4_1_clang_64bit-Debug/*
prosjektoppgave-cpp/build-test4-Desktop_Qt_5_4_1_MinGW_32bit-Debug/*
prosjektoppgave-cpp/build-test4-Desktop_Qt_5_4_1_clang_64bit-Debug/*
